@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9846 0.0017 247.8389);
  --foreground: oklch(0.1408 0.0044 285.8229);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1408 0.0044 285.8229);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1408 0.0044 285.8229);
  --primary: oklch(0.4005 0.1188 264.7383);
  --primary-foreground: oklch(0.9846 0.0017 247.8389);
  --secondary: oklch(0.9610 0.0029 264.5419);
  --secondary-foreground: oklch(0.2048 0.0061 271.1072);
  --muted: oklch(0.9610 0.0029 264.5419);
  --muted-foreground: oklch(0.5517 0.0147 266.6140);
  --accent: oklch(0.9610 0.0029 264.5419);
  --accent-foreground: oklch(0.2048 0.0061 271.1072);
  --destructive: oklch(0.5830 0.2387 28.4765);
  --destructive-foreground: oklch(0.9846 0.0017 247.8389);
  --border: oklch(0.8967 0.0076 260.7316);
  --input: oklch(0.8967 0.0076 260.7316);
  --ring: oklch(0.4005 0.1188 264.7383);
  --chart-1: oklch(0.4005 0.1188 264.7383);
  --chart-2: oklch(0.4654 0.0867 176.3942);
  --chart-3: oklch(0.3489 0.0807 280.4354);
  --chart-4: oklch(0.6024 0.1254 78.4844);
  --chart-5: oklch(0.6002 0.1500 30.0911);
  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0.1408 0.0044 285.8229);
  --sidebar-primary: oklch(0.4005 0.1188 264.7383);
  --sidebar-primary-foreground: oklch(0.9846 0.0017 247.8389);
  --sidebar-accent: oklch(0.9610 0.0029 264.5419);
  --sidebar-accent-foreground: oklch(0.2048 0.0061 271.1072);
  --sidebar-border: oklch(0.8967 0.0076 260.7316);
  --sidebar-ring: oklch(0.4005 0.1188 264.7383);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1.0;
  --shadow-color: #17191c;
  --shadow-2xs: 3px 3px 0px 0px hsl(216 9.8039% 10% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(216 9.8039% 10% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(216 9.8039% 10% / 1.00), 3px 1px 2px -1px hsl(216 9.8039% 10% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(216 9.8039% 10% / 1.00), 3px 1px 2px -1px hsl(216 9.8039% 10% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(216 9.8039% 10% / 1.00), 3px 2px 4px -1px hsl(216 9.8039% 10% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(216 9.8039% 10% / 1.00), 3px 4px 6px -1px hsl(216 9.8039% 10% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(216 9.8039% 10% / 1.00), 3px 8px 10px -1px hsl(216 9.8039% 10% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(216 9.8039% 10% / 2.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1407 0.0286 261.6304);
  --foreground: oklch(0.8994 0.0206 264.4648);
  --card: oklch(0.1795 0.0305 265.7637);
  --card-foreground: oklch(0.8994 0.0206 264.4648);
  --popover: oklch(0.1407 0.0286 261.6304);
  --popover-foreground: oklch(0.8994 0.0206 264.4648);
  --primary: oklch(0.6503 0.1191 264.7771);
  --primary-foreground: oklch(0.1407 0.0286 261.6304);
  --secondary: oklch(0.2510 0.0186 262.1560);
  --secondary-foreground: oklch(0.8994 0.0206 264.4648);
  --muted: oklch(0.2510 0.0186 262.1560);
  --muted-foreground: oklch(0.7007 0.0193 261.3235);
  --accent: oklch(0.2510 0.0186 262.1560);
  --accent-foreground: oklch(0.8994 0.0206 264.4648);
  --destructive: oklch(0.5501 0.1499 25.2754);
  --destructive-foreground: oklch(0.8994 0.0206 264.4648);
  --border: oklch(0.2510 0.0186 262.1560);
  --input: oklch(0.2510 0.0186 262.1560);
  --ring: oklch(0.6503 0.1191 264.7771);
  --chart-1: oklch(0.6503 0.1191 264.7771);
  --chart-2: oklch(0.6498 0.1178 180.1675);
  --chart-3: oklch(0.6004 0.1001 280.2720);
  --chart-4: oklch(0.7511 0.1204 85.1853);
  --chart-5: oklch(0.6996 0.1204 29.9243);
  --sidebar: oklch(0.1185 0.0312 264.3490);
  --sidebar-foreground: oklch(0.8994 0.0206 264.4648);
  --sidebar-primary: oklch(0.6503 0.1191 264.7771);
  --sidebar-primary-foreground: oklch(0.9846 0.0017 247.8389);
  --sidebar-accent: oklch(0.2510 0.0186 262.1560);
  --sidebar-accent-foreground: oklch(0.8994 0.0206 264.4648);
  --sidebar-border: oklch(0.2510 0.0186 262.1560);
  --sidebar-ring: oklch(0.6503 0.1191 264.7771);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-x: 3px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 1.0;
  --shadow-color: #000000;
  --shadow-2xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(0 0% 0% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(0 0% 0% / 1.00), 3px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(0 0% 0% / 1.00), 3px 1px 2px -1px hsl(0 0% 0% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(0 0% 0% / 1.00), 3px 2px 4px -1px hsl(0 0% 0% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(0 0% 0% / 1.00), 3px 4px 6px -1px hsl(0 0% 0% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(0 0% 0% / 1.00), 3px 8px 10px -1px hsl(0 0% 0% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(0 0% 0% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}